* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  height: 100%;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.side-bar {
  background-color: #191718;
  color: #ffffff;
  height: 100%;
  width: 25%;
}

li {
  height: 44px;
  border-bottom: 1px solid #5c5c5c;
  padding: 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #aaaaaa;
}
li:hover {
  background-color: #5c5c5c;
  color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  padding-top: 20px;
  padding-bottom: auto;
}
.top {
  background-color: #efefef;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  margin: 30px 0 40px 0;
}
.top__title,
.top__content {
  text-align: center;
}
.top__title {
  margin: 18px 0;
}
.bottom {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.item div {
  margin-top: 18px;
  display: flex;
}
.item div img {
  width: 128px;
  height: 128px;
  float: left;
}
.footer {
  border-top: 1px solid #dedede;
  height: 79px;
  padding: 0 129px;
}
